.dh-datasheet {
  overflow: scroll;
  height: 100%;
  border-left: 1px solid #cecece;
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  table {
    width: 100%;
    margin: auto;
    border-spacing: 0;
    table-layout: fixed;
    outline: none;
    tr {
      height: 28px;
      line-height: 28px;
      &:nth-child(even) {
        >td {
          background-color: #f8f9fa;
        }
      }
      th {
        height: 28px;
        line-height: 28px;
        font-size: 12px;
        border-right: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        background: #ECEFF1;
        color: #666666;
      }
      td {
        box-sizing: border-box;
        font-size: 12px;
        height: 100%;
        margin: 0;
        padding: 0;
        border-right: 1px solid #cecece;
        border-bottom: 1px solid #cecece;
        overflow: hidden;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        outline: none;
        input.editable {
          padding: 0 4px;
          width: 100%;
          height: 100%;
          border: none;
          outline: none;
          background: none;
        }
        span {
          padding: 0 4px;
        }
      }
      td.selected {
        border: 2px solid #23C132;
      }
    }
  }
}
