
$default-fontSize: 12px;
/** *
  颜色值变量
*/
$default-color: #666666;
$success-color: #ffffff;
$info-color: #367ae0;
$danger-color: #cf2837;
$warning-color: #e6d010;
/** *
主题颜色
*/
$theme-default-color: #23c132;

/** *
  input 变量
*/
$inputLength: auto; // input 高度
$inputFontSize: 12px; // input 内的字体大小
$inputLineHeight: 15px;
$inputBorderBg: #e6e6e6;
$inputColor: #333333;