$prefixCls: 'dh-calendar';
.dh-calendar-month-panel {
  >div {
    height: 100%;
  }
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-radius: 4px;
  background: #fff;
  outline: none;
  &-year-select-arrow {
    display: none;
  }
  &-header {
    height: 34px;
    line-height: 34px;
    text-align: center;
    user-select: none;
    border-bottom: 1px solid #e9e9e9;
    .#{$prefixCls}-month-panel-year-select {
      padding: 0 2px;
      font-weight: 700;
      display: inline-block;
      color: rgba(0,0,0,.65);
      line-height: 34px;
    }
    .#{$prefixCls}-month-panel-prev-year-btn,
    .#{$prefixCls}-month-panel-next-year-btn {
      position: absolute;
      top: 0;
      color: rgba(0,0,0,.43);
      font-family: dhfont;
      padding: 0 5px;
      font-size: 16px;
      display: inline-block;
      line-height: 34px;
    }
    .#{$prefixCls}-month-panel-prev-year-btn {
      left: 7px;
      &:after {
        content: '\e640'
      }
    }
    .#{$prefixCls}-month-panel-next-year-btn {
      right: 7px;
      &:after {
        content: '\e621'
      }
    }
  }
  &-body {
    height: calc(100% - 34px);
  }
  &-table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }
  &-selected-cell {
    .dh-calendar-month-panel-month {
      background: #23c132;
      color: #ffffff !important;
    }
  }
  &-cell {
    text-align: center;
    &-disabled {
      .dh-calendar-month-panel-month {
        cursor: not-allowed;
        color: #bcbcbc;
        background: #f7f7f7;
      }
    }
  }
  &-month {
    display: inline-block;
    margin: 0 auto;
    color: rgba(0,0,0,.65);
    background: transparent;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border-radius: 4px;
    transition: background .3s ease;
    &:hover {
      color: #23c132;
    }
  }
}