.dh-calendar-picker {
  position: relative;
  display: inline-block;
  outline: none;
  font-size: 12px;
  transition: opacity .3s;
  &:hover .dh-calendar-picker-clear {
    opacity: 1;
  }
  &-clear, &-icon {
    position: absolute;
    width: 14px;
    height: 14px;
    right: 8px;
    top: 50%;
    margin-top: -7px;
    line-height: 14px;
    font-size: 12px;
    transition: all .3s;
    user-select: none;
  }
  &-clear {
    opacity: 0;
    z-index: 1;
    color: rgba(0,0,0,.25);
    background: #fff;
    cursor: pointer;
    &:after {
      content: "\e63f";
      font-family: dhfont;
      font-size: 12px;
      color: rgba(0,0,0,.43);
      display: inline-block;
      line-height: 1;
    }
  }
  &-icon {
    color: rgba(0,0,0,.43);
    &:after {
      content: "\e7a7";
      font-family: dhfont;
      font-size: 12px;
      color: rgba(0,0,0,.43);
      display: inline-block;
      line-height: 1;
    }
  }
  &-container {
    position: absolute;
    z-index: 1050;
  }
  position: relative;
  width: 100%;
  &-input {
    position: relative;
    width: 100%;
    height: 28px;
    padding: 4px 7px;
    font-size: 12px;
    background-color: #fff;
    border-radius: 4px;
    transform: all .3s;
    color: $inputColor;
    border: 1px solid $inputBorderBg;
    line-height: $inputLineHeight;
  }
}