.dh-calendar-time {
  .dh-calendar-day-select {
    padding: 0 2px;
    font-weight: 700;
    display: inline-block;
    color: rgba(0,0,0,.65);
    line-height: 34px;
  }
  &-picker {
    position: absolute;
    width: 100%;
    top: 34px;
    background-color: #fff;
    &-panel {
      z-index: 1050;
      position: absolute;
      width: 100%;
    }
    &-inner {
      display: inline-block;
      position: relative;
      outline: none;
      list-style: none;
      font-size: 12px;
      text-align: left;
      background-color: #fff;
      background-clip: padding-box;
      line-height: 1.5;
      overflow: hidden;
      width: 100%;
    }
    &-input-wrap {
      display: none;
    }
    &-checkbox {
      width: 100%;
    }
    &-column-3 {
      .dh-calendar-time-picker-select {
        width: 33.33%;
      }
    }
    &-select {
      float: left;
      font-size: 12px;
      border-right: 1px solid #e9e9e9;
      box-sizing: border-box;
      overflow: hidden;
      position: relative;
      height: 206px;
      width: 33.33%;
      ul {
        list-style: none;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        width: 100%;
        max-height: 206px;
        li {
          text-align: center;
          list-style: none;
          box-sizing: content-box;
          margin: 0;
          width: 100%;
          height: 24px;
          line-height: 24px;
          cursor: pointer;
          user-select: none;
          transition: background .3s ease;
          &:hover {
            background: #ecf6fd;
          }
        }
      }
      &:first-child {
        border-left: 0;
        margin-left: 0;
      }
      &-option-selected {
        background: #f7f7f7;
        font-weight: 700;
      }
      &-active {
        overflow: auto;
      }
    }
  }
}