.dh-calendar-year-panel {
  >div {
    height: 100%;
  }
  position: absolute;
  top: 1px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  border-radius: 4px;
  background: #fff;
  outline: none;
  &-header {
    height: 34px;
    line-height: 34px;
    text-align: center;
    user-select: none;
    border-bottom: 1px solid #e9e9e9;
    .dh-calendar-year-panel-decade-select {
      padding: 0 2px;
      font-weight: 700;
      display: inline-block;
      color: rgba(0,0,0,.65);
      line-height: 34px;
    }
    .dh-calendar-year-panel-decade-select-arrow {
      display: none;
    }
    .dh-calendar-year-panel-prev-decade-btn,
    .dh-calendar-year-panel-next-decade-btn {
      position: absolute;
      top: 0;
      color: rgba(0,0,0,.43);
      font-family: dhfont, Arial;
      padding: 0 5px;
      font-size: 16px;
      display: inline-block;
      line-height: 34px;
    }
    .dh-calendar-year-panel-prev-decade-btn {
      left: 7px;
      &:after {
        content: "\e640"
      }
    }
    .dh-calendar-year-panel-next-decade-btn {
      right: 7px;
      &:after {
        content: "\e621"
      }
    }
  }
  &-body {
    height: calc(100% - 34px);
  }
  &-table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }
  &-cell {
    text-align: center;
  }
  &-year {
    display: inline-block;
    margin: 0 auto;
    color: rgba(0,0,0,.65);
    background: transparent;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border-radius: 4px;
    transition: background .3s ease;
  }
}

.dh-calendar-decade-panel {
  // >div {
  //   height: 100%;
  // }
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  background: #fff;
  border-radius: 4px;
  outline: none;
  &-header {
    height: 34px;
    line-height: 34px;
    text-align: center;
    user-select: none;
    border-bottom: 1px solid #e9e9e9;
    .dh-calendar-decade-panel-prev-century-btn,
    .dh-calendar-decade-panel-next-century-btn {
      position: absolute;
      top: 0;
      color: rgba(0,0,0,.43);
      font-family: dhfont;
      padding: 0 5px;
      font-size: 16px;
      display: inline-block;
      line-height: 34px;
    }
    .dh-calendar-decade-panel-prev-century-btn {
      left: 7px;
      &:after {
        content: '\e640'
      }
    }
    .dh-calendar-decade-panel-next-century-btn {
      right: 7px;
      &:after {
        content: '\e621'
      }
    }
  }
  &-body {
    height: calc(100% - 34px);
  }
  &-table {
    table-layout: fixed;
    width: 100%;
    height: 100%;
    border-collapse: separate;
  }
  &-cell {
    text-align: center;
    white-space: nowrap;
  }
  &-decade {
    display: inline-block;
    margin: 0 auto;
    color: rgba(0,0,0,.65);
    background: transparent;
    text-align: center;
    height: 24px;
    line-height: 24px;
    padding: 0 6px;
    border-radius: 4px;
    transition: background .3s ease;
  }
}