
@import './styles/_variable';
html, body{
  font-family: PingFang SC, Helvetica Neue, Helvetica,
  STHeitiSC-Light,WOL_SB,'Segoe UI Semibold','Segoe UI',Tahoma,Helvetica,sans-serif;
  font-size: $default-fontSize;
  color: $default-color;
  background-color: #fff;
}
a {
  color: #666666;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: color .3s ease;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
// 字体库
@font-face {
  font-family: "dhfont";
  src: url('./fonts/iconfont.eot'); /* IE9*/
  src: url('./fonts/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/iconfont.woff') format('woff'), /* chrome, firefox */
  url('./fonts/iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('./fonts/iconfont.svg#dhfont') format('svg'); /* iOS 4.1- */
}
@import "./styles/_mixin.scss";
@import "./icon/icon.scss";
@import "./button/button.scss";

@import "./dropdown/dropdown.scss";
@import "./table/table.scss";

@import "./tabs/tabs.scss";
@import './input/number.scss';
@import './input/input.scss';
@import './datasheet/index.scss';
@import "./message/message.scss";
@import "./tooltip/tooltip.scss";
@import "./steps/steps.scss";
@import "./carousel/slider.scss";
@import "./pagination/pagination.scss";
@import "./radio/radio.scss";
@import "./checkbox/checkbox.scss";
@import "./select/select.scss";
@import './modal/modal.scss';
@import "./list/list.scss";
@import "./avatar/avatar.scss";
@import './menu/menu.scss';
@import './form/form.scss';
@import './slider/slider.scss';
@import './color_picker/color_picker.scss';
@import './date_picker/style/index.scss';
