.dh-tinymce {
  width: 100%;
  height: 100%;
  background-color: #fff;
  min-height: 160px;
  padding: 0px 8px;
  display: flex;
  flex-direction: column;
  &-btns {
    height: 26px;
    font-size: 18px;
  }
  &-ctr {
    cursor: pointer;
  }
  &-btns-barLine {
    border-bottom: 1px solid #ddd;
  }
  &-edit {
    flex: 1;
    padding: 4px 8px;
    overflow: auto;
  }
  &-footer {
    height: 32px;
    text-align: right;
    line-height: 32px;
    span {
      color: #23c132;
      cursor: pointer;
    }
  }
  .dh-upload {
    outline: none;
    input {
      outline: none;
      border: none;
      background: none;
    }
  }
}
